[submodule "ABIfile"]
	path = ABIfile.jl
	url = https://github.com/Cvikli/ABIfile.jl.git
	branch = main
[submodule "Arithmetics"]
	path = Arithmetics.jl
	url = https://github.com/Cvikli/Arithmetics.jl.git
	branch = main
[submodule "AsyncTerminal"]
	path = AsyncTerminal.jl
	url = https://github.com/Cvikli/AsyncTerminal.jl
	branch = main
[submodule "BinanceAPI"]
	path = BinanceAPI.jl
	url = https://github.com/Cvikli/BinanceAPI.jl.git
	branch = main
	ignore = dirty
[submodule "Boilerplate"]
	path = Boilerplate.jl
	url = https://github.com/Cvikli/Boilerplate.jl.git
	branch = main
[submodule "CryptoOHLCV"]
	path = CryptoOHLCV.jl
	url = https://github.com/Cvikli/CryptoOHLCV.jl.git
	branch = main
[submodule "EasyGrad"]
	path = EasyGrad.jl
	url = https://github.com/Cvikli/EasyGrad.jl.git
	branch = master
[submodule "ExtendableStruct"]
	path = ExtendableStruct.jl
	url = https://github.com/Cvikli/ExtendableStruct.jl.git
	branch = main
[submodule "HTTPUtils"]
	path = HTTPUtils.jl
	url = https://github.com/Cvikli/HTTPUtils.jl.git
	branch = main
[submodule "HwAllocator"]
	path = HwAllocator.jl
	url = https://github.com/Cvikli/HwAllocator.jl.git
	branch = main
[submodule "InitLoadableStruct"]
	path = InitLoadableStruct.jl
	url = https://github.com/Cvikli/InitLoadableStruct.jl.git
	branch = main
[submodule "JuliaMacroCheatSheet"]
	path = JuliaMacroCheatSheet
	url = https://github.com/Cvikli/JuliaMacroCheatSheet.git
	branch = main
[submodule "LazySortedArray"]
	path = LazySortedArray.jl
	url = https://github.com/Cvikli/LazySortedArray.jl.git
	branch = main
[submodule "Losses"]
	path = Losses.jl
	url = https://github.com/Cvikli/Losses.jl.git
	branch = main
[submodule "MemoizeTyped"]
	path = MemoizeTyped.jl
	url = https://github.com/Cvikli/MemoizeTyped.jl.git
	branch = main
[submodule "NamedColors"]
	path = NamedColors.jl
	url = https://github.com/Cvikli/NamedColors.jl.git
	branch = main
[submodule "Optimizers"]
	path = Optimizers.jl
	url = https://github.com/Cvikli/Optimizers.jl.git
	branch = main
[submodule "PersistableStruct"]
	path = PersistableStruct.jl
	url = https://github.com/Cvikli/PersistableStruct.jl.git
	branch = main
[submodule "PkgManager"]
	path = PkgManager.jl
	url = https://github.com/Cvikli/PkgManager.jl.git
	branch = main
[submodule "Pythonish"]
	path = Pythonish.jl
	url = https://github.com/Cvikli/Pythonish.jl.git
	branch = main
[submodule "RefClosures"]
	path = RefClosures.jl
	url = https://github.com/Cvikli/RefClosures.jl.git
	branch = main
[submodule "RelevanceStacktrace"]
	path = RelevanceStacktrace.jl
	url = https://github.com/Cvikli/RelevanceStacktrace.jl.git
	branch = main
[submodule "TGSend"]
	path = TGSend
	url = git@github.com:Sixzero/TGSend.git
	branch = master
[submodule "SparseArrayVectors"]
	path = SparseArrayVectors.jl
	url = https://github.com/Sixzero/SparseArrayVectors.jl.git 
	branch = main
[submodule "Tracker"]
	path = Tracker.jl
	url = https://github.com/Cvikli/Tracker.jl.git
	branch = main
[submodule "Tensors"]
	path = Tensors.jl
	url = https://github.com/Cvikli/Tensors.jl.git
	branch = main
[submodule "UnicodePlotsSimple"]
	path = UnicodePlotsSimple.jl
	url = https://github.com/Cvikli/UnicodePlotsSimple.jl.git
	branch = main
[submodule "Unimplemented"]
	path = Unimplemented.jl
	url = https://github.com/Cvikli/Unimplemented.jl.git
	branch = main
[submodule "UniversalStruct"]
	path = UniversalStruct.jl
	url = https://github.com/Cvikli/UniversalStruct.jl.git
	branch = main
[submodule "Utils"]
	path = Utils.jl
	url = https://github.com/Cvikli/Utils.jl.git
	branch = main
[submodule "ZygoteExtensions"]
	path = ZygoteExtensions.jl
	url = https://github.com/SixZero/ZygoteExtensions.jl.git
	branch = main